name: develop branch CI

on:
  pull_request:
    branches: [ "develop", release-** ]
    types: [ "opened", "reopened", "synchronize", "closed" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      MYSQL_DATABASE: ${{ secrets.LOCAL_MYSQL_DATABASE }}
      MYSQL_ROOT_PASSWORD: ${{ secrets.LOCAL_MYSQL_ROOT_PASSWORD }}
      DATASOURCE_URL: ${{ secrets.LOCAL_DATASOURCE_URL }}
      DATASOURCE_USERNAME: ${{ secrets.LOCAL_DATASOURCE_USERNAME }}
      DATASOURCE_PASSWORD: ${{ secrets.LOCAL_DATASOURCE_PASSWORD }}
      OPEN_AI_KEY: ${{ secrets.LOCAL_OPEN_AI_KEY }}
      FRONT_URL: ${{ secrets.DEV_FRONT_URL }}
      LOCAL_URL: ${{ secrets.DEV_LOCAL_URL }}
      GOOGLE_CLIENT_ID: ${{ secrets.DEV_GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.DEV_GOOGLE_CLIENT_SECRET }}
      GOOGLE_REDIRECT_URI: ${{ secrets.DEV_GOOGLE_REDIRECT_URI }}
      KAKAO_CLIENT_ID: ${{ secrets.DEV_KAKAO_CLIENT_ID }}
      KAKAO_CLIENT_SECRET: ${{ secrets.DEV_KAKAO_CLIENT_SECRET }}
      KAKAO_REDIRECT_URI: ${{ secrets.DEV_KAKAO_REDIRECT_URI }}
      JWT_SECRET: ${{ secrets.DEV_JWT_SECRET }}
      VALIDITY_IN_SECONDS: ${{ secrets.VALIDITY_IN_SECONDS }}
      VALIDITY_IN_SECONDS_REFRESH: ${{ secrets.VALIDITY_IN_SECONDS_REFRESH }}
      REDIS_HOST: ${{ secrets.DEV_REDIS_HOST }}
      REDIS_PORT: ${{ secrets.DEV_REDIS_PORT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
      VOLUNTEER_API_HOST: ${{ secrets.VOLUNTEER_API_HOST }}
      VOLUNTEER_API_PATH: ${{ secrets.VOLUNTEER_API_PATH }}
      VOLUNTEER_API_KEY: ${{ secrets.VOLUNTEER_API_KEY }}
      ADMIN_KAKAO_CLIENT_ID: ${{ secrets.ADMIN_KAKAO_CLIENT_ID }}
      ADMIN_KAKAO_CLIENT_SECRET: ${{ secrets.ADMIN_KAKAO_CLIENT_SECRET }}
      ADMIN_KAKAO_REDIRECT_URI: ${{ secrets.ADMIN_KAKAO_REDIRECT_URI }}
      S3_BASE_DIR: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Style check
        run: ./gradlew spotlessCheck

      - name: Setup Docker
        run: docker compose up -d

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Test with Gradle
        run: ./gradlew test

  deploy-dev:
    if: ((github.ref == 'refs/heads/develop' || contains(github.ref, 'release')) && github.event.pull_request.merged == true) || github.event_name == 'workflow_dispatch'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Docker build & push
        run: |
          ./gradlew bootjar
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_DEV_IMAGE }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_DEV_IMAGE }}

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEV_SERVER_HOST }}
          port: ${{ secrets.DEV_SERVER_PORT }}
          username: ${{ secrets.DEV_SERVER_USERNAME }}
          password: ${{ secrets.DEV_SERVER_PASSWORD }}
          debug: true
          script: |
            rm .env
            touch .env
            echo "MYSQL_DATABASE=${{ secrets.LOCAL_MYSQL_DATABASE }}" >> .env
            echo "MYSQL_ROOT_PASSWORD=${{ secrets.LOCAL_MYSQL_ROOT_PASSWORD }}" >> .env
            echo "DATASOURCE_URL=${{ secrets.DEV_DATASOURCE_URL }}" >> .env
            echo "DATASOURCE_USERNAME=${{ secrets.LOCAL_DATASOURCE_USERNAME }}" >> .env
            echo "DATASOURCE_PASSWORD=${{ secrets.LOCAL_DATASOURCE_PASSWORD }}" >> .env
            echo "OPEN_AI_KEY=${{ secrets.LOCAL_OPEN_AI_KEY }}" >> .env
            echo "FRONT_URL=${{ secrets.DEV_FRONT_URL }}" >> .env
            echo "LOCAL_URL=${{ secrets.DEV_LOCAL_URL }}" >> .env
            echo "GOOGLE_CLIENT_ID=${{ secrets.DEV_GOOGLE_CLIENT_ID }}" >> .env
            echo "GOOGLE_CLIENT_SECRET=${{ secrets.DEV_GOOGLE_CLIENT_SECRET }}" >> .env
            echo "GOOGLE_REDIRECT_URI=${{ secrets.DEV_GOOGLE_REDIRECT_URI }}" >> .env
            echo "KAKAO_CLIENT_ID=${{ secrets.DEV_KAKAO_CLIENT_ID }}" >> .env
            echo "KAKAO_CLIENT_SECRET=${{ secrets.DEV_KAKAO_CLIENT_SECRET }}" >> .env
            echo "KAKAO_REDIRECT_URI=${{ secrets.DEV_KAKAO_REDIRECT_URI }}" >> .env
            echo "JWT_SECRET=${{ secrets.DEV_JWT_SECRET }}" >> .env
            echo "VALIDITY_IN_SECONDS=${{ secrets.VALIDITY_IN_SECONDS }}" >> .env
            echo "VALIDITY_IN_SECONDS_REFRESH=${{ secrets.VALIDITY_IN_SECONDS_REFRESH }}" >> .env
            echo "REDIS_HOST=${{ secrets.DEV_REDIS_HOST }}" >> .env
            echo "REDIS_PORT=${{ secrets.DEV_REDIS_PORT }}" >> .env
            echo "AWS_ACCESS_KEY_ID=${{ secrets.DEV_AWS_ACCESS_KEY_ID }}" >> .env
            echo "AWS_SECRET_ACCESS_KEY=${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}" >> .env
            echo "VOLUNTEER_API_HOST=${{ secrets.VOLUNTEER_API_HOST }}" >> .env
            echo "VOLUNTEER_API_PATH=${{ secrets.VOLUNTEER_API_PATH }}" >> .env
            echo "VOLUNTEER_API_KEY=${{ secrets.VOLUNTEER_API_KEY }}" >> .env
            echo "ADMIN_KAKAO_CLIENT_ID=${{ secrets.ADMIN_KAKAO_CLIENT_ID }}" >> .env
            echo "ADMIN_KAKAO_CLIENT_SECRET=${{ secrets.ADMIN_KAKAO_CLIENT_SECRET }}" >> .env
            echo "ADMIN_KAKAO_REDIRECT_URI=${{ secrets.ADMIN_KAKAO_REDIRECT_URI }}" >> .env
            echo "S3_BASE_DIR=dev" >> .env
            
            docker pull ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_DEV_IMAGE }}
            docker stop ${{ secrets.CONTAINER_NAME }} 
            docker rm ${{ secrets.CONTAINER_NAME }}
            docker run --name=${{ secrets.CONTAINER_NAME }} -d -p 8080:8080 -v $HOME/logs:/logs --env-file ./.env --network relogging_relogging ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_DEV_IMAGE }}
            docker container prune -f
            docker image prune -f
